
.zong{padding-left:30px;}
.box{background:#fff;padding:20px;max-width:450px;}
ul img{width:100px;height:100px;margin-right:10px;}
.box-con ul li{line-height:24px;}
.box-con ul li span{line-height:24px;margin-left:20px;text-align: right;}

.box-con{margin-right:10px;}


