
#start{
    width: 100%; height: 100%; transition: .5s;
}
.side-button{opacity: 0.6; margin: auto; position: absolute; top:43%;right:3% !important;z-index:9999;  }
.le{ top:3% !important;left:2% !important;}
.le img{width:50px !important;height:50px !important;}
.side-button img{width:80px;height:80px;}


/*闪烁*/
.flashing {
    /* 高度 */
    opacity: 0.1;                                   /* 不透明度 */
    overflow: hidden;                               /* 溢出隐藏 */
    margin: 25% auto;                               /* 外边距 */

    /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
    animation-name: breath;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: ease-in-out;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */

    /* Safari and Chrome */
    -webkit-animation-name: breath;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
}
@keyframes breath {
    from { opacity: 0.1; }                          /* 动画开始时的不透明度 */
    50%  { opacity:   1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.1; }                          /* 动画结束时的不透明度 */
}
@-webkit-keyframes breath {
    from { opacity: 0.1; }                          /* 动画开始时的不透明度 */
    50%  { opacity:   1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.1; }                          /* 动画结束时的不透明度 */
}


.zong{width:100%;height:100%;position: absolute; left: 0px; opacity: 0; background:-webkit-gradient(linear,0 50%,150% 50%,from(#060A28),to(#000));}

.zong h1{font-size:24px;color:#fff;margin-left:6%;margin-top:2%;}
.zong h2{font-size:24px;color:#fff;}
.zong .top{margin-left:1%;margin-right:1%;padding-top:2%;}
.zong .top .blur {
    -webkit-filter: blur(5px); /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.module{width:31%; float:left;min-width:300px;margin:0 1%;height:250px;transition: .5s;}
.moduleaa:hover{cursor: pointer; transform: scale(1.1);  }
.module .red1{background:rgba(251, 86, 82,0.4);}
.module .red2{background:rgba(251, 86, 82,0.2);}
.module .blue1{background:rgba(91, 192, 222,0.4);}
.module .blue2{background:rgba(91, 192, 222,0.2);}
.module .yellow1{background:rgba(240, 173, 78,0.4);}
.module .yellow2{background:rgba(240, 173, 78,0.2);}
.module .cheng1{background: rgba(255, 101, 55, 0.4);}
.module .cheng2{background: rgba(255, 101, 55, 0.2);}
.module .mo_t{border-radius:10px 10px 0px 0px;height:50px;}
.module  h2{color:#fff;font-size:20px;padding:15px;margin:0px;position:relative;margin-top:-50px;}
.module .aa{border-radius:0 0 5px 5px;height:200px;margin-top:-10px;}

.bb{width:97%;margin-top:2%;}
.module .mo_b1{margin-top:-400px !important;}
.cc{height:400px;}

.module .mo_b{position:relative;margin-top:-200px;}
.module .mo_b .icon{width:50%}
.module .mo_b .icon img{padding:15%;width:72%;}
.module .mo_b .txt{width:50%;}
.module .mo_b .txt h3{font-size:20px;text-align:right;color:#fff;padding-top:10%;margin-right:20px;}
.module .mo_b .txt h4{font-size:20px;text-align:right;color:#fff;padding-top:0;margin-right:20px;}
.module .mo_b .txt .progress{margin-right:20px;margin-top:20px;}


.highcharts-background{fill:none;}
.highcharts-plot-background{fill:none;}
.highcharts-grid-line{fill: none;}
.highcharts-plot-border{fill:none !important;}
.highcharts-point{fill:#7cb5ec;}
.highcharts-background{fill:none;}
.highcharts-button{display:none !important;}
.highcharts-title{display:none;}
.highcharts-credits{display:none;}
.highcharts-data-label-color-0 {display:none;}
.highcharts-text-outline{display:none;}
.highcharts-label-box{fill:none;}
.highcharts-header{display:none;}

.module .mo_b tspan{fill:#ffffff;color:#fff;}

/*曲线表*/
.zong .wrapper{width:50%;margin-top:1%;}
.zong .wrapper h3{margin-top:10px;margin-bottom:20px;}

#canvas{color:#f00;}

/*柱状表*/
.histogram{width:47%;margin-left:3%;}
.chart { margin-left: 2px; margin-bottom: 10px;fill:#fff;}
.label { font-size: 10px; font-family: "Times New Roman";}
.chart-title {margin-left:0px; margin-bottom:5px;margin-top:10px; font-size:14px;font-weight: bold; }
.chart rect {stroke-width:0;stroke: white;}
.bar.creator { fill: #03b1e6; }
.bar.recipient { fill: #1cc09e; }
.bar.mentioned { fill: #ff743d; }
.bar.creator.unknown { fill: #7E7E7E; }
.bar.recipient.unknown  { fill: #A5A5A5; }
.bar.mentioned.unknown { fill: #D6D6D6; }
.bar:hover { fill: #ff743d; }
.bar.creator.unknown:hover { fill: #8E8E8E; }
.bar.recipient.unknown:hover { fill: #B5B5B5; }
.bar.mentioned.unknown:hover { fill: #E6E6E6; }
.buttons {display: inline-block; margin-left: 20px; margin-bottom: 10px;;
}

button {margin: 2px 0; padding: 5px;background-color: #374862;border:none;color:#fff !important;
    -webkit-box-shadow: 2px 2px 1px #ccc;
    -moz-box-shadow: 2px 2px 1px #ccc;
    -o-box-shadow: 2px 2px 1px #ccc;
    box-shadow: 2px 2px 1px #ccc;
    font: normal 100% "coustard", serif;
    border-right: white 1px solid;
    outline:none;
}

.buttons button:first-child {
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
}

.buttons button:last-child {
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    border-right: none;
}

button.highlight {
    background-color: #1951a3;
}
button:hover {
    background-color: #1951a3;
}
button.highlight:hover {
    background-color: #1951a3;
}

button#hide_unknown {
    display: inline-block;
    margin-left: 20px;
}
button#show_unknown {
    display: inline-block;
    margin-right: 20px;
}
.axis path, .axis line {fill: none; stroke: black; shape-rendering: crispEdges;  }
.axis text { font-family: sans-serif;font-size: 11px; color: #fff; }
.guideline {stroke: #444;stroke-width: 0.1;  }

.font-right p{
    margin-top: 20px;
}
.font-right{
    margin: 45px 0px 0px 0px;
}
.wrapper canvas{
    transition: all .6s;
    width:96% !important;
}
@media screen and (max-width: 1700px) {
    #quxianbiao{
        margin-top: -10px;
    }
    .wrapper canvas {
        transform: scale(0.8);
        margin-top: -65px;
        margin-left: -40px;
    }
    .bottom #chart_buttons{
        margin-top: -45px;
    }
    .bottom svg{
        margin-top: -25px;
         transform: scale(1,0.6);
    }
}