/*分类栏*/
.classify{ height: 70px; background-color: #FFFFFF;}
.classify li{width: 10%; float: left;text-align: center; cursor: pointer;  height: 70px;}
.classify li div{ padding-top: 15px;}
.classify li:hover{color: #ac2925; background-color: #D6D6D6; transition: 1s}

/*商品展示*/
#ware-recommend{  float: right;}
#ware-recommend .recommend{ width: 580px; height: 655px; margin-right: 35px; float: left;}
#recommend-left{background-color:#03B1E6; }
#recommend-left li{  text-align: center; color: #ffffff; margin-top: 30px;}
#recommend-left li hr{ width: 380px; margin-left:100px; border: 1px solid #ffffff; border-left:0px; border-right:0px; height: 5px; margin-top: 2px; }
#recommend-left #re-font{ padding: 0px 30px 0px 30px;}
#recommend-left .re-btn-s:hover .re-btn-x{width: 162px; height: 42px; margin: -1px; line-height: 42px;  }
#recommend-right{}
#recommend-right #recommend-img-s{ height: 315px; width: 100%; background-color: #a0a3a3; text-align: center; position: relative;}
#recommend-right #recommend-img-s #img-s-zhezhao{height: 0px; width: 100%; background-color: #000000; text-align: center; opacity: 0; position: absolute; bottom: 0px; transition: .5s;}
#recommend-right #recommend-img-s:hover #img-s-zhezhao{ height: 315px; opacity: 0.3;}
#recommend-right #recommend-img-s:hover #re-message{  display: block;}
#recommend-right .re-btn-s:hover .re-btn-x{width: 162px; height: 42px; margin: -1px; line-height: 42px;  }
#recommend-right #recommend-img-s{}
#recommend-img-s #re-message{ position: absolute; bottom: 0px; height: 315px; width: 100%; text-align: center; color: #ffffff; display: none;}
#recommend-img-s #re-message #re-message-f{ height: 55px; margin: 100px auto 40px auto; width: 210px; font-size: 40px; font-weight: 600; border-top:3px solid #ffffff;  border-bottom:3px solid #ffffff; }
#recommend-img-s #re-message .re-btn-s{background-color: red; }
#recommend-right #recommend-img-x{}
#recommend-img-x .recommend-img-xl{ height: 315px; }
/*商品大图*/
#ware-big-img{  }

/*底部导航*/
#foot{width: 100%; height: 50px; background-color: #464646; text-align: center; line-height: 50px; color:#ffffff; clear: both;}
/*logo&搜索*/
.banner{ width: 100%; height: 100px;}
#logo-img{height: 100%; width: 555px; float: left; text-align: center; font-size: 48px; color:#333;}
#search{ width: 380px; height: 100%; float: left;line-height: 100px; }
#search input[type="text"]{ height: 48px; border: 1px solid #ffffff; background-color: #333; width: 258px;color: #ffffff; font-size:24px; padding-left: 10px; }
#search button{transition: .5s; height: 50px;border: 1px solid #ffffff;background-color: #ffffff; font-size: 24px; position: relative; width: 100px; cursor: pointer; text-align: right; padding-right: 13px;}
#search img{ position: absolute; top: 14px; left: 10px;}
#search button:hover{background-color: #333;padding-right: 25px;color: #ffffff;}
#shopping-cart{width:290px; height: 100%;float: left; line-height: 100px; text-align: center;}
#shopping-cart button{transition: .5s; padding-left:40px;border: 1px solid #ffffff; background-color: #333; color: #ffffff; height: 50px; line-height: 50px;position: relative; width: 180px; font-size:20px;cursor: pointer; }
#shopping-cart img{ position: absolute; top: 5px; left: 10px;}
#shopping-cart button:hover{background-color: #ffffff;color: #333; border: 1px solid #333;padding-left:10px; }
