* {
    font-family: "微软雅黑";
}
li, ol {
    list-style: none;
}
div, ul {
    padding: 0px;
    margin: 0px;
}
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*banner*/
.head-banner {
    width: 100%;
    height: 8%;
    background-color: #2b3949;
    border-bottom: 1px solid #2b3949;
    min-height: 90px;
}
.head-banner #logo {
    height: 70%;
    font-size: 50px;
    display: flex;
    margin-left:40px;
    align-items: center;
    float: left;
}
.head-banner #logo img {
    margin-top:29px;
    height:90px;
}

.head-banner #user-status {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 30px;
    color:#717276;
}
#user-status b {
    transition: .3s;
    color: #717276;
    cursor: pointer;
}
#user-status b:hover {
    color: #ff743d;
}

#user-status tui {
    margin-right: 20px;
    border: 0px;
    transition: .5s;
    cursor: pointer;
    color: #717276;
    transition: .5s;
}

#user-status tui:hover {
    color: #ff743d;
}
/*主题内容*/
.main-body {
    width: 100%;
    height: 100%;
    display: flex;
}

/*左侧边栏*/
.main-body #main-side {
    height: 100%;
    width: 12%;
    background-color: #1d2531;
    float: left;
    padding-left: 0px;
    padding-top: 50px;
    min-width: 170px;
}

/*右侧内容*/
.main-body #main-show {
    height: 100%;
    width: 88%;
    background-color: #292C35;
    float: left;
    overflow: auto;
    min-height: 765px;
}

#main-show .serve-banner {
    width: 96%;
    height: 55px;
    margin: 20px 2%;
    background-color: #23232B;
    min-width: 1228px;
}
#main-show #now-position{
    width: 96%; margin: 35px 0px -20px 2%; height: 30px; font-size: 15px;color:#717276
}
#main-show #now-position span{
    color: #616161;
}
#main-show .serve-banner an {
    height: 55px;
    float: right;
    display: flex;
    align-items: center;
}

#main-show .serve-banner  input[type="button"] {
    height: 30px;
    width: 100px;
    background-color: #2B3949;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
    transition: .5s;
}

#main-show .serve-banner  input[type="button"]:hover {
    background-color: #ff743d;
}
#main-show #date-input{
    height: 55px; display: flex;align-items: center; float: left;
}
#main-show #date-input date{
    color: #949494;
    margin: 0px 13px;
}

#main-show .serve-module {
    height: auto;
    padding-left: 1%;
    padding-top: 1%;
    min-width: 1250px;
    overflow: auto;
}

.serve-module .serve-module-s {
    height: 200px;
    width: 31%;
    margin: 0px 1% 15px 1%;
    background-color: #EDE8EC;
    border-radius: 2px;
    float: left;
    position: relative;
    min-width: 430px;
    transition: .3s;
}
.serve-module-s:hover{
    box-shadow: 0px 0px 5px 2px #ff743d;
}
.serve-module-s i {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #ff743d;
}

.serve-module-s .shanchu {
    display: none;
}

/*表格显示*/
.serve-module table{
    width: 97%;
    margin-left: 1%;
    text-align: center;
    background-color: #EDE8EC;
}
.serve-module table i{
    padding: 0px 5px;
    cursor: pointer;
}
.serve-module table th{
    text-align: center;
    font-size: 16px;
    padding: 9px 0px 9px 0px;
    background-color: #374862!important;
    color: #fff!important;
}
.serve-module table td{
    border:1px solid #C3C1C4;
    text-align: center;
    white-space: nowrap;
    padding: 9px 0px 9px 0px;
}
.serve-module table tr:hover{
    background-color: #ff743d;
    color: #fff;
}
/*添加窗口*/
.add {
    margin: 20px auto;
    font-size: 14px;
}

.add td {
    width: 120px;
    height: 40px;
    text-align: center;
}

.add input[type="text"] {
    width: 200px;
    height: 25px;
    border: 1px solid #E7E7E7;
}

.add textarea {
    width: 200px;
    height: 80px;
    resize: none;
    margin-top: 7px;
}

.add select {
    width: 200px;
    height: 25px;
    border: 1px solid #E7E7E7;
}
/*底部*/
#foot {
    background-color: #2b3949;
    width: 100%;
    height:35px;
    text-align: center;
    line-height: 35px;
    bottom: 0px;
    position: fixed;
    color: #fff;
    right: 0px;
}
/*side*/
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background:#222c3c;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color:#f25237;
    opacity: 0.5;
}

.accordion li i.glyphicon-chevron-up {
    right: 12px;
    left: auto;
    font-size: 16px;

}

.accordion li.open .link {
    color: #fff;
}

.accordion li.open i {
    color: #f25237;
    opacity: 1;
}
.accordion li.open i.glyphicon-chevron-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.submenu {
    display: none;
    background: #374862;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none!important;
    color: #d9d9d9;
    padding: 12px;
    text-align:center;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}

.submenu a:hover {
    background: #222c3c;
    color: #FFF;
    cursor:pointer;
}

.back-color{
    background-color: #222c3c;
}
/*图片上传样式*/
#box{
    position: absolute;
    margin: 0px auto;
    left:0;
    right:0;
    transition: .3s;
    z-index: 9999;
    top: 30%;
}


