/*服务模块*/

/*平铺显示*/
.serve-module .serve-module-s #zuo-font {
    height: 100%;
    width: 35%;
    padding-top: 25px;
    float: left;
}

.serve-module .serve-module-s #zuo-font li {
    height: 22%;
    align-items: center;
    display: flex;
    padding-left: 15px;
}

.serve-module .serve-module-s ul li span {
    margin-left: 10px;
}

.serve-module .serve-module-s #you-font1 {
    height: 100%;
    float: left;
    width: 15%;
    padding-top: 35px;
}
.serve-module .serve-module-s #you-font2 {
    height: 100%;
    float: left;
    width: 18%;
    word-wrap: break-word;
    padding-top: 35px;
}
.servePicture{
    float: left; width: 100px; text-align: center;padding-top: 45px; margin-left: 20px;
}
