
.clear{clear: both;}
.box{width:200px;height:200px;margin:10% auto;}
.box .btn-style1{width:200px;background:#2B3949;border:0px;border-radius: 5%;}
.box .btn-style1:hover{background: #ff743d;}
.box .btn-style1:focus{border:0px;outline: none;box-shadow: none;}

.btn-style2{ display: block; padding:4px 20px;background-color: #ffffff;border-radius: 20px; color: #333;text-align: center;line-height: 35px;text-decoration: none;cursor: pointer;  transition: .5s;  float: left;  margin: 10px 0px 0px 20px;border:1px #ff743d solid;}
.theme{background: #ff743d !important;color:#fff !important;}
.btn-style2:hover{background: #ff743d;color:#fff;}
